.contenedor-tarjeta{
    width: 18rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: .2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    box-shadow: 10px 5px 5px rgb(125, 8, 235);
}
.contenido-tarjeta{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.img-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.agregar{
    display: flex;
    width: 50%;
    justify-content: end;
    flex-direction: column;
}
.img-tarjeta{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 2px solid white;
}
.section-btn{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
@media screen and (min-width: 768px){
    .contenedor-tarjeta{
        width: 10rem;
        height: 15rem;
    }
    .img-name{
        width: 40%;
    }
    .contenido-tarjeta{
        width: 100%;
        flex-direction: column;
    }
    .agregar{
        width: 80%;
    }
}
@media screen and (min-width: 1024px){
    .contenedor-tarjeta{
        width: 18rem;
        height: 10rem;
    }
    .contenido-tarjeta{
        flex-direction: row;
    }
    .agregar{
        width: 50%;
    }
}