.equipo{
    background-color: rgb(104, 100, 100);
    width: 90%;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 10px 5px 5px rgb(125, 8, 235);
    margin-bottom: 1rem;
}
.lista-grupo{
    width: 100%;
}
.titulo-equipo{
    color: white;
    display: flex;
    flex-direction: column;
}
.equipo-promedio{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.peso-altura{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: .3rem;
    margin-bottom: .3rem;
    border-radius: 4px;
    border: 2px solid white;
}
.promedio{
    display: flex;
    align-items: center;
}
.fa-bolt{
    font-size: 20px;
    margin-right: .3rem;    
}
.fa-times{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
}
.boton-eliminar{
    display: flex;
   justify-content: flex-end;
   margin: auto;
}
.item-lista{
    background-color: rgba(0, 0, 0, 0.329);
    border: 2px solid white;
    list-style: none;    
}
@media screen and (min-width: 768px){
    .list-group{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .list-group-item{
        width: 40%;
        margin: .5rem;
        padding-top: 1rem ;
        border-top: 2px solid white !important;
        border-radius: 4px;
    }
}
@media screen and (min-width: 1024px){
    .list-group-item{
        width: 23%;
    }
}