.powerstats{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: .5rem;
    color: white;
    border: 2px solid white;
    margin-bottom: .5rem;
}
.detalle-power{
    display: flex;
    flex-direction: column;
    text-align: start; 
}
@media screen and (min-width:768px) {
    .powerstats{
        justify-content: space-around;
    }
}
@media screen and (min-width:1024px) {
    .detalle-power{
       width: 50%;
       flex-direction: row;
       justify-content: space-around;
    }
}